@media only screen and (min-width: 38rem) {
    /***************************** DIRECTORY MEMBERS *****************************/
    nav.directory img {
        width: 30px;
    }

    table.directory thead {
        display: table-header-group;
    }

    table.directory thead th:last-child {
        display: none;
    }

    table.directory tbody td.large {
        display: table-cell;
    }

    table.directory tbody td.small {
        display: none;
    }
}