@media only screen and (min-width: 700px) {
    /***************************** DISCOVER PLACES *****************************/
    #discover-places {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #discover-places section {
        margin: 10px;
    }
    #discover-places section:nth-child(even) {
        grid-template-areas: 
        "name image"
        "address image"
        "description image"
        "button image";
    }
    #discover-places section figure {
        width: 150px;
        height: 100%;
    }
    #discover-places section figure img {
        transition: border-radius 1s ease, filter 1s ease;
    }
    #discover-places section:nth-child(even) figure img {
        border-radius: 0 10px 10px 0;
    }
    #discover-places section figure img:hover {
        border-radius: 200px;
        filter: saturate(250%);
    }
}