@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        box-sizing: border-box;
        max-width: 900px;
        margin: 0 auto;
    }

    /***************************** HEADER *****************************/
    header {
        grid-template-columns: 60px auto;
        row-gap: 10px;
        padding-bottom: 0;
    }

    header nav {
        display: flex;
        position: initial;
        top: initial;
        left: initial;
        grid-column: 1/3;
        flex-direction: row;
        justify-content: space-around;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
    }

    header nav a {
        border: none;
    }

    header nav a:first-child {
        border: none;
    }

    .hamburger {
        display: none;
    }

    /***************************** RECIPE *****************************/
    section.recipe img {
        transition: border-radius 1s ease, filter 1s ease;
    }
    section.recipe img:hover {
        border-radius: 200px;
        filter: saturate(250%);
    }
    /***************************** FOOTER *****************************/
    footer {
        flex-direction: row;
    }
}